.body{
    min-height: 100%;
    max-width: 60%;
    margin: 0 auto;
    padding: 0;
    background-color: #c8d3d7;
}

.header{
    width: 100%;
    min-width: 615px;
    height: 40px;
    background-color: #7e9cb8;
}

.nav{
    display: block;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    max-width: 100%;
}

.left-side{
    display: flex;
    flex-direction: column;
}

.image{
    flex-grow: 0;
    flex-shrink: 1;
    position: relative;
    margin-bottom: -4px;
    width: 440px; 
    height: 554px;
}
.contacts{
    flex-grow: 1;
    flex-shrink: 1;
    padding: 50px 0px 54px 0px;
    background-color: #7c9bb7;
}

.contact{
    position: relative;
    margin-bottom: 35px;
    margin-right: 45px;
    padding-left: 120px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    background-color:#517396;
}

.contacts-list{
    font-family: "Verdana", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    list-style: none;
    padding-left: 120px;
}

.right-side{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #7c9bb7 ;
    margin: 0;
}
.title, .about-me, .skills, .example, .experience, .lang{
    flex-shrink: 1;
    margin-left: 30px;
}

.head{
    background-color: #517396;
    padding-left: 10px;
}

.information{
    font-family: "Narrow", Arial, sans-serif;
    font-size: 18px;
    margin-left: 5px;
}

.footer{
    display: flex;
    justify-content: space-between;    
    height: 55px;
    background-color: #294b6e;
    color: #000000;
    min-width: 615px; 
}

.date{
    width: 100px;
    height: 40px;
    font-size: 22px;
}

a{
    text-decoration: none;
    color: #000000;
 }
 a:hover {
    text-decoration: underline;
  }